# Useful packages for NLP that should be installed to the environment running the code in this repository.
nltk
spacy
gensim
scikit-learn
pandas
numpy
textblob
pattern
polyglot
pynlpi
torch
transformers